.card {
    display: flex;
    flex-direction: column;
    background-color: #efb1ff;
    box-shadow: 0 10px #efb1ff ;
    padding: 24px;
    cursor: pointer;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: transform 0.25 ease-out;

    &:hover{
        transform: scale(1.05);
    }
}